[tool.poetry]
name = "rich-cli"
homepage = "https://github.com/Textualize/rich-cli"
version = "1.8.0"
description = "Command Line Interface to Rich"
authors = ["Will McGugan <willmcgugan@gmail.com>"]
license = "MIT"
readme = "README.md"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",    
]


[tool.poetry.dependencies]
python = "^3.7"
rich = "^12.4.0"
click = "^8.0.0"
requests = "^2.0.0"
textual = "^0.1.18"
rich-rst = "^1.1.7"

[tool.poetry.dev-dependencies]
black = "22.3.0"
mypy = "0.942"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
rich = 'rich_cli.__main__:run'

[tool.poetry.plugins."pipx.run"]
rich-cli = 'rich_cli.__main__:run'
